{% extends 'base.html.twig' %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
welcome! this is the homepage
<br/>

<div id="display"></div>
<body>

</body>
{% endblock %}